.notFoundPage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.notFoundPageModule {
  max-width: 600px;
  padding: 48px;
}

.notFoundText {
  margin-bottom: 32px;
}

