.mainPage {
  background-color: var(--background-color);
}

.contentWrapper {
  display: flex;
  gap: 24px;
  max-width: 1048px;
  margin: 0 auto;
  padding-bottom: 30px;
}

.leftSide {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex-grow: 1;
}


