// Default View
.default {
  &.hotelListItem {
    padding: 16px 16px 16px 0;
    gap: 24px;
  }

  .hotelInfo {
    max-width: 350px;
  }

  .hotelName {
    max-width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .dash {
    margin: 0 10px;
  }

  .datesInfo {
    margin-bottom: 5px;
  }
}

// Small view
.small {
  .hotelName {
    max-width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &.hotelListItem {
    padding: 16px 0;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
    }
  }

}

// Common styles
.hotelRightSide {
  justify-content: space-between;
  align-items: flex-end;
}

.hotelData {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.hotelInfo {
  display: flex;
  flex-direction: column;
}

.hotelPrice {
  display: flex;
  align-items: center;
  gap: 8px;
}

.hotelListItem {
  border-bottom: 1px solid var(--border-color);
  display: flex;

  &:last-child {
    border-bottom: none;
  }
}

.favoriteIcon {
  cursor: pointer;

  &:hover:not(.active) {
    fill: #EBEBEB;
  }

  &.active {
    fill: #E55858;

    path {
      stroke: #E55858;
    }
  }
}


